.to-none {
    display: none;
/*
.to-inline-block {
    background-color: brown;
    display: inline-block;
    height: 300px;
    width: 300px;
}
/*.to-block{
    background-color: red;
    display: block;
}

to-inline{
    background-color: green;
    display: inline;
}
*/