.box {
    height: 1000px;
    background-image: url("../emage-1/sample-3.jpg");
    color: white;
    background-repeat: no-repeat;
    background-position: 300px 150px;
    border: 5px solid red;
    background-size: 300px 300px;
    
    
}
