/*start of Core style*/
body {
    margin: 0;
    font-family: sans-serif;

}

.container {
    width: 1130px;
    margin: 0 auto;
}

.to-uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}
.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0.625rem; /* 10 / 16=0.625 rem */
    color: #797979;
    text-transform: uppercase;

}
.section-title {
    margin-top: 5px; /* 5 / 16= 0.32rem */
    font-size: 42px; /* 42 / 16= 2.62 rem */
    font-weight: 700;
    text-transform: capitalize;
    color: #05364d;
}
.button {
    border: none;
    background: linear-gradient(to right, #1345e6 0%, #e9239f 51%, #1345e6 100%);
    background-size: 200% auto;
    color: #FFFF;
    font-weight: 500;
    font-size: 0.87rem; /* 14 / 16= 0.87 rem */
    padding: 1.26rem 2.5rem; /* 1)20/16=1.26 rem 2) 40 / 16=2.5rem */ 
    cursor: pointer;
    border-radius: 5px;
}
.buttun:hover {
    background-position: right center;
}
.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    border-radius: 4px;
}

/*End of Core style*/

/*Start of Main header styles*/

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:white ;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    margin-top: 0;

}

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    width: 65px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    padding: 10px; /* 10 / 16=0.625rem */ 
}

.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem; /* 12 / 16=0.75rem */
    font-weight: 500px;
}

.main-navigation__item a:hover {
    color: #efb6df;
}

.main-navigation__item.active a {
    color: #efb6df;

}

/*Start of Main header styles*/

/*Start of Main-Section style*/
.main-banner {
    background: url("../images/orqa-fon.jpg") no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
}
.main-section {
    padding: 7.5ren 1.87rem; /* 1) 120 / 16 =7.5rem 2) 30/16= 1.87rem */ 
}

.main-section>div {
    width: 50%;
    float: left;
}

.main-section__image {
    text-align: right;

}

.main-section__welcome {
    font-size: 1rem; /* 16 / 16 = 1rem */
    font-weight: 400;
    margin-bottom: 1.25rem; /* 20 / 16 = 1.25rem */
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 1.25rem; /* 20 / 16 = 1.25rem */
    font-size: 3.75rem; /* 60 / 16 =3.75rem  */
    font-weight: 500;
    margin-bottom: 1.25rem; /* 20 / 16 = 1.25rem */    color: #05364e;
}

.main-section__position {
    color: #05364e;
    font-size: 1.5rem; /* 24 / 16=1.5rem */
    font-weight: 300px;
    margin-bottom: 1.25rem; /* 20 / 16 = 1.25rem */
}

.main-section__social-networks a {
    color: #8fa1aa;
    font-size: 1.25rem; /* 20 / 16 = 1.25rem */
    display: inline-block;
    margin-right: 1rem; /* 16 / 16 = 1rem*/
    cursor: pointer;
}

.main-section__social-networks a:hover i {
    color: #1C44E4;

}

.main-section__action {
    margin-top: 1.87rem; /* 30/16= 1.87rem */ 
    
}

/* Statisticcal section*/
.statistics {
    padding: 6.25rem; /* 100 / 16= 6.25rem */
}

.statistics_item {  
    display: inline-block;
    width: 150px;
    background-color: #f8faff;
    text-align: center;
    padding: 0.32rem  0.625rem; /* 1) 5 / 16 = 0.32rem 2) 10 / 16 = 0.625rem */ 
    margin-right: 1.25rem; /* 20 / 16 = 1.25rem */
}

.statistics__number {
    font-size: 1.69rem; /* 27 / 16 = 1.69rem */
    margin-bottom: 0.32rem; /* 5 / 16 = 0.32rem */
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics__title {
    font-size: 1rem; /* 16 / 16 = 1rem*/
    color: #797979;
    font-weight: 300;
}

/* About me section*/

.about-me {
    padding: 6.25rem 0; /* 100 / 16 = 6.25rem */
}


.about-me > div {
    width: 50%;
    float: left;
}
ok
.about-me__image img{
    width: 90%;

} 
.about-me__description {
font-size: 0.87rem; /* 14 / 16 = 0.87rem */
font-weight: 300;
color: #797979;
line-height: 1.69rem; /* 27 / 16 = 1.69rem */

}

.about-me__action {
    margin-top: 40px; /* 40 / 16 = 2.5rem */
} 
/*  End of About section styles */

/*  Start of Services section styles */
.services {
    padding-top: 6.25rem 0; /* 100 / 16 = 6.25rem */
}
.service-card {
    display: inline-block;
    width: 30%;
    padding: 3.75rem 1.87rem;  /* 1) 60 / 16 =3.75rem  2) 30 / 16 = 1.87rem */
    background-color: #f8faff;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}
.service-card__title {
    color: #053640;
    font-size: 1.25rem; /* 20 / 16 = 1.25rem */
    font-weight: 500;
    margin-bottom: 1.25rem; /* 20 / 16 = 1.25rem */
    text-transform: uppercase;

}

.service-card__description {
    font-size: 0.87rem; /* 14 / 16 = 0.87rem */
    line-height: 1.69rem; /* 27 / 16 = 1.69rem */
    font-weight: 300;
    color: #797979;

}
.service-card__link {
    font-size: 0.81rem; /* 13 / 16 = 0.81rem */
    font-weight: 500;
    text-transform: uppercase;
    color: #053640;
    text-decoration: none;

}
.service-card:hover {
    background-color: #5f30ff;
}
.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link {

color: #ffffff;
}
/* End of Services section styles */

/* Start of My clients  section styles*/
.clients {
    padding-top: 6.25rem; /* 100 / 16 = 6.25rem */
}
.client-item > div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.client-item__image img {
    width: 100%;

}
.client-item__info {
    padding-top: 3.12rem; /* 50 / 16 = 3.125rem */
    padding-left: 3.12rem; /* 50 / 16 = 3.125rem */

}

.client-item__name {
    font-size: 1.25rem; /* 20 / 16 = 1.25rem */
    margin-bottom: 0.25rem; /* 4 /16 = 0.25rem */
}
.client-item__position {
 font-size: 0.87rem; /* 14 / 16 = 0.89rem */
 font-weight: 300;
 color: #5b6d75;


}
.client-item__review {
    font-size: 0.87rem; /* 14 / 16 = 0.89rem */
    line-height: 1.69rem; /* 27 / 16 = 1.69rem */
    font-weight: 300;
    color: #5b6d75;

}
.client-item__rate {
    color: #ffd805;
}
.client-item__rate .disabled {
    color: #aeb98e;
}


/* End of My clients section styles */

/* Start of Portfolio section style */
.portfolio {
    padding: 6.25rem 0; /* 100 / 16 = 6.25rem */
}
.portfolio-filters {
    list-style: none;
    padding-left: 0;
    margin-top: 3.12px; /* 50 / 16 = 3.12rem */
}
.portfolio-filters li {
display: inline-block;
margin-right: 2.5rem; /* 40 / 16 = 2.5rem */
font-size: 13px; /* 13 / 16 = 0.81rem */
font-weight: 400;
text-transform: uppercase;
cursor: pointer;
}

.portfolio-filters li:hover,
.portfolio-filters li.active 
{
    color: #1345e6;
}

.portfolio-items {
    position: relative;
    margin-top: 3.12rem; /* 50 / 16 = 3.125rem */
}
.portfolio-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 10px; /* 10 / 16 = 0.625rem */
    box-sizing: border-box;
}
.portfolio-item-1 {
    padding-left: 0;
}
.portfolio-item_2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    }
    .portfolio-item_3 {
        position: absolute;
        top: 322px;
        right: 0;
        width: 50%;
        }
    
.portfolio-item__image {
    width: 100%;
}


.portfolio-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19, 69, 230, 0.9);
    visibility: hidden;
    z-index: 1;
}
.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
color: white;
visibility: hidden;
z-index: 1;
}
.portfolio-item__info a {
    color: white;
    text-decoration: none;
}
.portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    top: 20px;
    left: 20px;
}
.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    bottom: 24px;
    left: 60px;
}

/* End of Portfolio section style */

/* Start of Blog section styles */
.blog {
    padding-top: 6.25rem; /* 100 / 16 = 6.25rem */
}
.blog-items {
    margin-top: 3.12rem; /* 50 / 16 = 3.12rem */
}
.blog-item {
    display:inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}
.blog-item:hover {
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}
.blog-item:hover .blog-item__info {
    background-color: white;
}
.blog-item__image img {
    width: 100%;
}
.blog-item__info {
background-color: #f8faff;
padding: 1.87rem; /* 30 / 16 = 1.87rem */
color: #797979;
}
.blog-item__main-info span {
    font-size: 0.87rem; /* 14 / 16 = 0.87rem */
    margin-right: 1.87rem; /* 30 / 16 = 1.87rem */
    font-weight: lighter;
}
.blog-item__info i {
    margin-right: 0.31rem; /* 5 / 16 = 0.31rem */ 
}
.blog-item_title {
    font-size: 1.25rem; /* 20 / 16 = 1.25rem */
    margin-top: 1.25rem; /* 20 / 16 = 1.25rem */
    margin-bottom: 0.93rem; /* 15 / 16 = 0.93rem */
    color: #05364d;
    font-weight: 700;
}
.blog-item__description {
    line-height: 1.69rem; /* 27 / 16 = 1.69rem */
    font-weight: lighter;
    font-size: 0.93rem; /* 15 / 16 = 0.93rem */
}
.blog-item__learn-more {
    font-size: 0.81rem; /* 13 / 16 = 0.87rem */
    font-weight: 500;
    text-transform: uppercase;
    color:  #05364d;
    cursor: pointer;
}
.blog-item__learn-more:hover {
    color: #ed239f;
} 

/* End of Blog section styles */


/* Start of Partners section styles*/
 .partners {
    padding-top: 6.25rem; /* 100 / 16 = 6.25rem */
 }
 .partner {
    display: inline-block;
    padding: 0 0.87rem; /* 13 / 16 = 0.87rem */
 }
 @media only screen and (max-width: 991px) {
    /*main-section*/

    .main-section__image {
        display: none;
    }
    .main-section > div {
        width: 100%;
        
    }    
 }

/* End of Partners section styles*/
@media only screen and (max-width: 767px) {
    /* Main section  for smartfon stly start */
    .main-banner {
        background: none;
        min-height: auto;
    }

    .main-section__action {
        display: none;
    }
    
    .main-section__introduction {
        font-size: 3rem;
    }

 /* Main section  for smartfon stly end */

  /* Statistic section  for smartfon stly start */
.statistics__item {
    width: 100%;
    margin-bottom: 20px; 
    margin-right: 0;
    box-sizing: border-box;
}

  /* Statistic section  for smartfon stly end */


  /* About me section  for smartfon stly start */
.about-me {
    padding: 1.5rem 0;
}
  .about-me > div {
    width: 100%;
}
.about-me__image img {
    display: none;
}
  
  /* About me section  for smartfon stly end */


  /* Servises  section  for smartfon stly start */
.services {
    padding: 1.5rem 0;
}
  .service-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
}

/* Servises  section  for smartfon stly end */

/* Clients section  for smartfon stly start */

.clients {
    padding: 1.5rem 0;
}
.client-item > div {
width: 100%;
float: none;
}

/* Clients  section  for smartfon stly end */

/* Portfolio section  for smartfon stly start */
.portfolio-item {
    width: 100%;
}
.portfolio-item_2,
.portfolio-item_3 {
    position: static;
}

/* Portfolio section  for smartfon stly end */

/* Blog section  for smartfon stly start */
.blog {
    padding: 1.5rem 0;
}
.blog-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
}

/* Blog section  for smartfon stly end */

/* Partners section  for smartfon stly start */
.partners {
    padding: 1.5rem;
}
.partner {
    display: block;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;

}
}

/* Partners section  for smartfon stly end */


