@font-face {
    font-family: "lato";
    src: url('Lato/Lato-Regular.ttf');
    }
    @font-face {
        font-family: 'Lato';
        src: url('Lato/Lato-Bold.woff');
        font-weight: 700;
        
    }
    @font-face {
        font-family: 'Lato';
        src: url('Lato/Lato-BlackItalic.woff');
        font-weight: 700;
        font-style: italic;
    }
    p {
        font-family: 'Lato',sans-serif;
    }
    h1 {
        font-family: 'Lato';
        font-weight: 700;
     font-style: italic;
    }
