/* Elementimiz o'zining font-size xossasiga ega bo'lmagan holda
.parent-box {
    font-size: 30px;
}
.box {
    height: 600px;
    width: 1000px;
    border: 1px solid red;
    border-radius: 0.5em; /*0.5 * 30px=15px
    padding: 5em; /* 5 * 30px=150px 
} */
/*Elementimiz hech qaysi ajdodida  font-size xossasi ko'rsatilmagan holatda
.box {
    height: 600px;
    width: 1000px;
    border: 1px solid red;
    border-radius: 0.5em; /*0.5 * 16px=8px 
    padding: 5em; /* 5 * 16px=80px 
} */
/* (!)Elemenlarimiz  nested (ichma-ich)joylashgan holatda*/
/*
.parent-box {
    font-size: 30px;
}
.child-box {
    font-size: 2em;
}
.box {
    height: 600px;
    width: 1000px;
    border: 1px solid red;
    border-radius: 0.5em; /*0.5 * 60px=30px 
    padding: 5em; /* 5 * 60px=300px 
} */
/*Amaliyotda em ni qo'llash */
.container {
    font-size: 20px;
    padding: 0.5em; /* 0/5 * 20px=10px */
    border: 1px solid red;
}
.container h2 {
    font-size: 1.5em; /* 1.5 * 20px=30px */
    margin-bottom: 0.2em; /* 0.2 * 20px=4px */
}
.container h6 {
    font-size: 0.9em; /* 0.9 * 20px=18px */
    margin-top: 0.2em; /* 0.2 * 20px=4px */
}
.container p {
    font-size: 0.8em; /* 0.8 * 20px=16px */
}
