/* Viewport width  style section */
/*
.box {
    height: 200px;
    width: 50vw; /* viewportning 50% 
    padding: 5vw; /* viewportning 5% 
    background-color: red;

} */
/* Percentage style section */
 /*.parent-box {
    width: 50%;
    background-color: red;
    height: 200px;
}
.box {
    width: 100%;
    background-color: yellow;
    height: 150px;
}
*/
/* Viewport height style section */
 /*.box {
    height: 50vh;
    width: 50vw;
    background-color: red;
} */
/* Viewport  complete height style section */
/* .box {
    height: 100vh;
    width: 100vw;
    background-color: red;
} */
/* Viewport minimum height  or minimum width style section */
/*.box {
    height: 100px;
    width: 50vmin;
    background-color: red;
} */
/* Viewport maximum height  or maximum width style section */
.box {
    height: 100px;
    width: 50vmax;
    background-color: red;
}